<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="airport">
            <h2><span>Airport</span> {{airport.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Airport Id</span></dt>
                <dd>
                    <span>{{airport.airportId}}</span>
                </dd>
                <dt><span>Airport Code</span></dt>
                <dd>
                    <span>{{airport.airportCode}}</span>
                </dd>
                <dt><span>City Code</span></dt>
                <dd>
                    <span>{{airport.cityCode}}</span>
                </dd>
                <dt><span>Country Code</span></dt>
                <dd>
                    <span>{{airport.countryCode}}</span>
                </dd>
                <dt><span>Is Domestic</span></dt>
                <dd>
                    <span>{{airport.isDomestic}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/airport', airport.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
